extends layout

block content
    div        
        div(class="wrapper")
            .inner-wrap
                div(ng-include='\'partials/header\'')
                div(ng-view, class="view-frame {{ pageClass }}")

    // EXTERNAL FILES LOADING
    // Add minified css when production
    link(href="css/app.min.css" rel="stylesheet")
    //link(href='css/app.css' rel='stylesheet')

    link(href='libs/animate.css/animate.min.css', rel='stylesheet')
    link(href='libs/mdi/css/materialdesignicons.min.css' rel='stylesheet')
    script(src="libs/dz-assets/js/vendor/modernizr.js")

    // Loading libraries
    script(src='libs/angular/angular.js')
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js")
    script(src='libs/angular-resource/angular-resource.js')
    script(src='libs/angular-route/angular-route.js')
    script(src='libs/angular-cookies/angular-cookies.js')
    script(src='libs/angular-sanitize/angular-sanitize.js')
    script(src='libs/angular-animate/angular-animate.js')
    script(src='libs/angular-foundation/mm-foundation-tpls.js')
    script(src='libs/dz-assets/js/vendor/jquery.js')
    script(src='libs/dz-assets/js/vendor/fastclick.js')
    script(src='libs/dz-assets/js/foundation.min.js')

    // Loading App Scripts
    script(src='js/app.js')
    script(src='js/controllers/wrapper.js')
    script(src='js/controllers/header.js')
    script(src='js/controllers/main.js')
    script(src='js/controllers/public.js')
    script(src='js/controllers/formations.js')
    script(src='js/controllers/profil.js')
    script(src='js/controllers/contact.js')
    script $(document).foundation();